.navbar{
    border-radius: 5px;
    justify-content:space-between;
    padding: 10, 0, 10, 0;
    // text-align:end;
    

    .nav_container{
        justify-content:space-between;
        // text-align:end;
    }

    .link{
        margin-left: 400px;


    }
    

}